trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:

- bash: |
    cd "$(System.DefaultWorkingDirectory)/target"

    logs=$(base64 -w 0 cucumber-report.json)

    echo -n '{ "testcycle" : 3903090, "result" : "passed' > payload.json
    echo -n "$logs" >> payload.json
    echo -n '", "projectId" : 127692}' >> payload.json

    curl -X POST \
      https://pulse-7.qtestnet.com/webhook/6d552b63-be8d-43fb-a12e-1cbf470fa749 \
      -H "cache-control: no-cache" \
      -H "content-type: application/json" \
      -d @payload.json

  displayName: "Upload Cucumber Results to qTest"