trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:

- bash: |
    cd "$(System.DefaultWorkingDirectory)/target"

    logs=$(base64 -w 0 cucumber-report.json)

    echo -n '{ "testcycle" : 3676826, "result" : "' > payload.json
    echo -n "$logs" >> payload.json
    echo -n '", "projectId" : 127692}' >> payload.json

    curl -X POST \
      https://pulse-7.qtestnet.com/webhook/1af0de00-76b6-4dfa-8b6f-ae0f879117ba \
      -H "cache-control: no-cache" \
      -H "content-type: application/json" \
      -d @payload.json

  displayName: "Upload Cucumber Results to qTest"